@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "DM Sans", sans-serif;
    scroll-behavior: smooth;
	 
	 
}

body {
	background-color: #F3F4F6;
	width: 100%;
	min-height: 100vh;
	max-height: auto;
	 
}
/* Header Component */
.is__sticky {
	position: fixed;
	margin-bottom: 50px;
	width: 100% !important;
	box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
	background-color: white;
	animation: slideDown 0.35s ease-out;
	 
}
.current__header {
	width: 1200px;
	margin: 0 auto;
	 
}
@keyframes slideDown {
	from {
		transform: translateY(-100%);
	}
	to {
		transform: translateY(0);
	}
}












/* scroll bar */

 
 
 



@media only screen and (max-width:500px) {
  /* For mobile phones: */
   .current__header{
	width: 1200px;
	margin: 0 auto;
   }
}